###
# kubernetes system config
#
# The following values are used to configure the kube-apiserver
#

# The address on the local server to listen to.
KUBE_API_ADDRESS="--insecure-bind-address=127.0.0.1"

# The port on the local server to listen on.
# KUBE_API_PORT="--port=8080"

# Port minions listen on
# KUBELET_PORT="--kubelet-port=10250"


KUBE_CLIENT_CA_FILE="--client-ca-file=/etc/kubernetes/ssl/k8s-ca.pem"
KUBE_TLS_CERT_FILE="--tls-cert-file=/etc/kubernetes/ssl/kube-apiserver.pem"
KUBE_TLS_PRIVATE_KEY_FILE="--tls-private-key-file=/etc/kubernetes/ssl/kube-apiserver-key.pem"

# Comma separated list of nodes in the etcd cluster
KUBE_ETCD_SERVERS="--etcd-servers=<% array=[] -%>
<% @etcd_count.to_i.times do |i| -%>
<%  array<<"https://etcd-#{i}.#{@ec2_tag_cluster}.#{@dns_root}:#{@k8s_etcd_port}" -%>
<% end -%>
<%= array.join(',') %>"

KUBE_ETCD_CAFILE="--etcd-cafile=/etc/etcd/ssl/etcd-main-ca.pem"
KUBE_ETCD_CERTFILE="--etcd-certfile=/etc/etcd/ssl/etcd-main.pem"
KUBE_ETCD_KEYFILE="--etcd-keyfile=/etc/etcd/ssl/etcd-main-key.pem"

# Address range to use for services
KUBE_SERVICE_ADDRESSES="--service-cluster-ip-range=<%= @cluster_ip %>/<%= @cluster_ip_mask %>"

# default admission control policies
KUBE_ADMISSION_CONTROL="--admission-control=NamespaceLifecycle,LimitRanger,ServiceAccount,DefaultStorageClass,ResourceQuota"

KUBE_SERVICE_ACCOUNT_KEY_FILE="--service-account-key-file=/etc/kubernetes/ssl/service-account-key.pem"

# Add your own!
KUBE_API_ARGS=""
