###
# kubernetes system config
#
# The following values are used to configure various aspects of all
# kubernetes services, including
#
#   kube-apiserver.service
#   kube-controller-manager.service
#   kube-scheduler.service
#   kubelet.service
#   kube-proxy.service
# logging to stderr means we get it in the systemd journal
KUBE_LOGTOSTDERR="--logtostderr=true"

# journal message level, 0 is debug
KUBE_LOG_LEVEL="--v=0"

# Should this cluster be allowed to run privileged docker containers
KUBE_ALLOW_PRIV="--allow-privileged=<%= @allow_privileged %>"

# How the controller-manager, scheduler, and proxy find the apiserver
#KUBE_MASTER="--master=http://k8s-master.<%= @ec2_tag_cluster %>.<%= @dns_root %>:8080"

# Which cloud provider we're using
KUBE_CLOUD_PROVIDER="--cloud-provider=aws"
