###
# kubernetes kubelet (minion) config

# The address for the info server to serve on (set to 0.0.0.0 or "" for all interfaces)
KUBELET_ADDRESS="--address=0.0.0.0"

# The port for the info server to serve on
# KUBELET_PORT="--port=10250"

# You may leave this blank to use the actual hostname
# KUBELET_HOSTNAME="--hostname-override=127.0.0.1"

# location of the api-server
KUBELET_API_SERVER="--api-servers=https://kube-apiserver.<%= @ec2_tag_cluster %>.<%= @dns_root %>:6443"

KUBELET_KUBECONFIG="--kubeconfig=/etc/kubernetes/kubeconfig-kubelet"

KUBELET_CLUSTER_DNS="--cluster-dns <%= @dns_ip %>"

KUBELET_CLUSTER_DOMAIN="--cluster-domain <%= @dns_root %>"

# Add your own!
KUBELET_ARGS="--network-plugin <%= @network_plugin %>"
