[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
EnvironmentFile=-/etc/kubernetes/<%= @k8s_version %>/config
EnvironmentFile=-/etc/kubernetes/<%= @k8s_version %>/controller-manager
User=k8s
ExecStart=/usr/bin/controller-manager \
	    $KUBE_LOGTOSTDERR \
	    $KUBE_LOG_LEVEL \
	    $KUBE_CONFIG \
	    $KUBE_CLOUD_PROVIDER \
	    $KUBE_SERVICE_ACCOUNT_KEY_FILE \
	    $KUBE_ROOT_CA_FILE \
	    $KUBE_CONTROLLER_MANAGER_ARGS
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
