[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=network.target
After=etcd.service

[Service]
EnvironmentFile=-/etc/kubernetes/<%= @k8s_version %>/config
EnvironmentFile=-/etc/kubernetes/<%= @k8s_version %>/apiserver
User=k8s
ExecStart=/usr/bin/apiserver \
	    $KUBE_LOGTOSTDERR \
	    $KUBE_LOG_LEVEL \
	    $KUBE_CLIENT_CA_FILE \
	    $KUBE_ETCD_SERVERS \
	    $KUBE_ETCD_CAFILE \
	    $KUBE_ETCD_CERTFILE \
	    $KUBE_ETCD_KEYFILE \
	    $KUBE_API_ADDRESS \
	    $KUBE_API_PORT \
	    $KUBE_CLOUD_PROVIDER \
	    $KUBELET_PORT \
	    $KUBE_ALLOW_PRIV \
	    $KUBE_SERVICE_ADDRESSES \
	    $KUBE_ADMISSION_CONTROL \
	    $KUBE_TLS_CERT_FILE \
	    $KUBE_TLS_PRIVATE_KEY_FILE \
	    $KUBE_SERVICE_ACCOUNT_KEY_FILE \
	    $KUBE_API_ARGS
Restart=on-failure
Type=notify
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
